

table{
    margin: 25%;
    height: 60%;
    width: 50%;
}



.text{
    text-align: center;
}

.logo{
    text-align: center;
}

.logopng{
  text-align: center;

}

.link{
    text-align: center;
    
}

    

